{% extends "app/base.html" %}
{% block content %}
  <main class="max-w-2xl mx-auto flex flex-col items-center mt-10">
    <h1 class="subtitle mb-2">Delete Article</h1>
    <p class="text-lg mb-6">Are you sure you want to delete "{{ article.title }}"?</p>
    <form method="post" class="flex items-center gap-4">
      {% csrf_token %}
      <button type="submit" class="button danger">Yes, delete it</button>
      <a href="{% url 'home' %}" class="button secondary">
        {% include "svgs/arrow-left.svg" with class="inline-block w-6 h-6 mt-[-2px] mr-2" %}
        No, take me back
      </a>
    </form>
  </main>
{% endblock content %}
